.mainFinancesContent {
  padding: 20px;
  background-color: #f5f5f5;
}

.addPersonSection,
.addAccountSection,
.accountTypesSection,
.accountsByPersonSection {
  margin-bottom: 30px;
}

.accountTypeItem {
  display: flex;
  justify-content: space-between;
}

.personAccounts {
  margin-top: 20px;
}

.customTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.customTableHeader {
  font-weight: bold;
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
}

.customTableRow {
  display: contents; /* Mantém o layout de grid */
}

.customTableCell {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.customTableCell button {
  cursor: pointer;
}
