.mainFinancesContent {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addPersonSection,
.addAccountSection,
.accountTypesSection,
.accountsByPersonSection {
  margin: 30px 0;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.accountTypesSection {
  gap: 10px;
}
.accountTypeItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

.deleteRowButton,
.editRowButton {
  background-color: transparent;
  border: none;
}

.accountTypeItem {
  display: flex;
  justify-content: space-between;
}

.personAccounts {
  margin: 20px 0;
}

.headerAccountTypesSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.closeButton {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.closeButton svg {
  color: red;
  transition: all ease-in-out 0.2s;
}

.closeButton svg:hover {
  color: rgb(200, 0, 0);
}
