.mainFinancesContent {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addPersonSection,
.addAccountSection,
.accountTypesSection,
.accountsByPersonSection {
  margin-bottom: 30px;
}

.deleteRowButton {
  background-color: transparent;
  border: none;
}

.accountTypeItem {
  display: flex;
  justify-content: space-between;
}

.personAccounts {
  margin-top: 20px;
}

.customTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  gap: 10px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.418);
  border-radius: 10px;
  padding: 10px;
}

.customTableHeader {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.customTableRow {
  display: contents; /* Mantém o layout de grid */
}

.customTableCell {
  padding: 10px;
  border-radius: 5px;
}

.customTableCell button {
  cursor: pointer;
}

.headerAccountTypesSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.closeButton {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.closeButton svg {
  color: red;
  transition: all ease-in-out 0.2s;
}

.closeButton svg:hover {
  color: rgb(200, 0, 0);
}
