.generalTableContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.customTable {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: scroll;
}

.customTable header {
  display: flex;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
}

.customTable body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.customTableHeader {
  font-weight: bold;
  width: 120px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
}

.customTableCell input {
  max-width: 150px;
  font-size: 14px;
}

.customTableRow {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 10px;
  gap: 50px;
}

.customTableCell {
  width: 120px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
}

.customTableCell {
  padding: 10px;
  border-radius: 5px;
}

.customTableCell button {
  cursor: pointer;
}

.deleteRowButton,
.editRowButton {
  background-color: transparent;
  border: none;
}

.deleteRowButton svg {
  color: rgb(191, 0, 0);
  font-size: 20px;
  transition: all ease-in-out 0.2s;
}

.deleteRowButton svg:hover {
  color: rgba(191, 0, 0, 0.7);
}

.editRowButton svg {
  font-size: 20px;
  color: rgb(37, 37, 37);
  transition: all ease-in-out 0.2s;
}

.editRowButton svg:hover {
  color: rgba(37, 37, 37, 0.719);
  font-size: 20px;
}

.editRowButton {
  margin-left: 9px;
}

.confirmationActions {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 5px;
}