.generalTableContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  overflow-x: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.personAccounts {
  margin-bottom: 30px;
}

.customTable {
  display: block;
  width: 100%;
  border-collapse: collapse;
}

.customTable header,
.customTable .customTableRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.customTableHeader {
  font-weight: bold;
  text-align: center;
}

.customTableCell {
  padding: 10px;
  text-align: center;
}

.customTableCell input {
  width: 80%;
  padding: 5px;
}

.confirmationActions {
  display: flex;
  gap: 15px;
  justify-content: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.deleteRowButton {
  color: grey;
  font-size: 20px;
}

.editRowButton {
  color: grey;
  margin-left: 10px;
  font-size: 20px;
}

@media (max-width: 768px) {

  .customTable header,
  .customTable .customTableRow {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .customTableHeader:nth-child(3),
  .customTableHeader:nth-child(4),
  .customTableCell:nth-child(3),
  .customTableCell:nth-child(4) {
    display: none;
  }
}

@media (max-width: 480px) {

  .customTable header,
  .customTable .customTableRow {
    grid-template-columns: repeat(2, 1fr);
  }

  .customTableHeader:nth-child(2),
  .customTableCell:nth-child(2) {
    display: none;
  }
}

.noAccountsMessage {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-content: center;
}

.manageFinancesLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
  text-decoration: underline;
  color: cornflowerblue;
  cursor: pointer;
}