.headerContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  border-bottom: 1px solid rgb(189, 189, 189);
  position: relative;
  transition: all 0.3s ease;
}

.headerContainer.scrolled {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 40px;
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.brandSlogan,
.brandTitle {
  width: 400px;
}

.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  /* Fix header to the bottom in mobile */
  .headerContainer,
  .header {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  /* Hide brandTitle and brandSlogan on mobile */
  .brandSlogan,
  .brandTitle {
    display: none;
  }

  /* Optional: Add a smaller navigation or icons for mobile */
  .navbarContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
