.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all ease .5s;
    height: 100vh;
    max-width: 90%;
    padding: 30px;
}

.loading a {
    color: cornflowerblue;
    text-decoration: underline;
}

.appInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.appInfo p {
    font-style: italic;
}