.container {
  width: 100%;
  max-width: 300px;
  text-align: center;
  position: relative; /* Contexto de posicionamento */
}

.dropdownContainer {
  display: flex;
  min-height: 50px;
}

.listbox {
  position: absolute;
}

.dropdown {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute; /* Contexto para o dropdown-menu */
  font-size: 14px;
  color: #474747;
  text-align: left;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1; /* Dropdown fechado fica com menor prioridade */
}

.dropdown .select {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dropdown .select:hover,
.dropdown .select:focus {
  background-color: #f9f9f9;
  outline: none;
}

.dropdown .select > .arrow {
  font-size: 13px;
  color: #888;
  transition: transform 0.3s ease;
}

.dropdown.active {
  z-index: 10; /* Dropdown ativo fica com maior prioridade */
}

.dropdown.active .select > .arrow {
  transform: rotate(-90deg);
}

.dropdown-menu {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 4px 4px;
  max-height: 144px;
  overflow-y: auto;
  margin-top: 4px;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.dropdown.active .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.selectOption {
  padding: 5px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.selectOption:hover {
  background-color: #f5f5f5;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-menu li:hover,
.dropdown-menu li:focus {
  background-color: #f9f9f9;
  color: #333;
}

.dropdown-menu li:active {
  background-color: #e2e2e2;
  color: #111;
  outline: none;
}
