* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.879);
  text-decoration: none;
}

li {
  list-style: none;
}

button:active,
a:active {
  background-color: transparent !important;
  outline: none !important;
}

svg:active {
  fill: inherit;
  background-color: transparent;
  outline: none;
}

button,
a,
svg {
  -webkit-tap-highlight-color: transparent;
}
