* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}
#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Garante que o componente de partículas fique atrás de outros elementos */
}
a {
  color: rgba(0, 0, 0, 0.879);
  text-decoration: none;
}

li {
  list-style: none;
}

button:active,
a:active {
  background-color: transparent !important;
  outline: none !important;
}

svg:active {
  fill: inherit;
  background-color: transparent;
  outline: none;
}

button,
a,
svg {
  -webkit-tap-highlight-color: transparent;
}

.errorMessage {
  font-weight: 600;
  font-size: 14px;
  color: rgb(200, 0, 0);
  max-width: 400px;
  margin-bottom: 10px;
  display: flex;
  height: 20px;
  align-items: center;
  transition: opacity 0.3s ease;
}
